/* ------------------------
-------    FONTS    -------
------------------------ */

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ReenieBeanie';
    src: url('../fonts/ReenieBeanie-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Imperial';
    src: url('../fonts/URWImperialT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --dark: #070a44;
    --light: #e6e7ec;
    --white: #ffffff;
    --black: #000000;
    --pink: #FF037A;
    --orange: #ff7e03;
    --grey: #6b6d8e;
    --turquoise: #00ffbd;

    --header-size: 60px;
    --footer-size: 20px;
}



/* ------------------------
-------    GLOBAL    ------
------------------------ */

* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;
}  

body {  
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: var(--dark);
    background-color: var(--white);
    background-image: url("../images/Background.png");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding-top: var(--header-size);
    padding-bottom: var(--footer-size);
}

h1 {
    font-family: 'Imperial';
}

h5 {
    font-family: 'ReenieBeanie';
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

main {
    min-height: 100vh;
}

.centeredContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 0px 20px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--white);
    min-height: 100%;
}

section {
    /*padding: 20px 40px;*/
    padding: 40px 40px;
}

section.wideSection {
    padding: 20px 0px;
}
section.wideSection > img {
    width: 100%;
}

section.biSection {
    display: flex;
    align-items: stretch;
    gap: 2rem;
}
section.biSection > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
section.biSection > div.first {
    text-align: left;
    flex: 2;
}
section.biSection > div.last {
    flex: 3;
}

p {
    font-size: 14px;
}
p.textParagraph{
    margin-top: 10px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

button {
    padding: 2px 5px;
    color: var(--dark);
    background-color: var(--white);
    border-radius: 6px;
    margin-top: 10px;
}
button:hover {
    background-color: var(--light);
    color: var(--orange);
    border-color: var(--orange);
}

img {
    max-width: 100%;
    height: auto;
}





/* ------------------------
----   HEADER/FOOTER   ----
------------------------ */

header {
    background: var(--light);
    color: var(--black);
    padding: 5px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    /*height: 8%;*/
    height: var(--header-size);
    top: 0px;


    display: flex;
}

footer {
    background: var(--light);
    color: var(--black);
    position: fixed;
    width: 100%;
    /*height: 3%;*/
    height: var(--footer-size);
    bottom: 0px;
    padding: 2px 10px;
}
footer > p {
    font-size: 10px;
}

.logo {
    height: 50px;
    margin-left: 10px;
}

nav {
    align-items: center;
    display: flex;
}
nav ul {
    list-style: none; /* No bullets */
    display: flex; /* Horizontal Links */
    gap: 2rem;
    padding-left: 20px;
}
nav a {
    color: white;
    font-weight: bold;
    padding: 0.5rem 0; /* Vertical padding for hover effect */
    color: var(--black);
}
nav a.active {
    color: var(--orange);
}
nav a:hover {
    color: var(--pink);
}
@media (max-width: 768px) {
    /**/
}





/* ------------------------
-------    INDEX    -------
------------------------ */

.resourceList > li {
    text-align: left;
    margin-top: 10px;
}

.newsList > li {
    text-align: left;
}

.storiesList {
    margin-top: 20px;
}

.resourceImage {
    border-radius: 0px;
    padding: 0.5rem 0;
    aspect-ratio: 1;
    max-width: 160px;
    object-fit: cover;
}

.newsImage {
    border-radius: 0px;
    padding: 0.5rem 0;
    aspect-ratio: 1;
    max-width: 300px;
    object-fit: cover;
}





/* ------------------------
-------    ABOUT    -------
------------------------ */

.aboutPortrait {
    border-radius: 30px;
    padding: 0.5rem 0;
    aspect-ratio: 1;
    max-width: 120px;
    object-fit: cover;
}